<nav>
  <ul>
    <li>
      <a routerLink="">
        <i class="material-icons">home</i>
      </a>
    </li>
    <li>
        <a routerLink="projects">
          <i class="material-icons">dashboard</i>
        </a>
      </li>
          <li>
        <a routerLink="resume">
          <i class="material-icons">picture_as_pdf</i>
        </a>
      </li>
                <li>
        <a routerLink="links">
          <i class="material-icons">language</i>
        </a>
      </li>
            
                <li>
        <a routerLink="email">
          <i class="material-icons">email</i>
        </a>
      </li>
  </ul>
</nav>